.content-body {
  background: #F8F9FC;;
}

.title-wrapper {
  font-weight: 500;

  h1 {
    padding-top: 70px;
    padding-bottom: 16px;
    font-size: 4rem;
  }
}

.content-inner {
  text-align: center;
}

h2 {font-size: 3rem;}

p {font-size: 2rem;}

p+div {padding-top: 80px;}

div > p {padding-bottom: 32px;}

a {display: block;}
