<footer>
  <div class="footer-header">
    <div class="footer-header-content not-drag">
      <!-- <div class="board-link">
        <a [routerLink]="'/board'">공지사항</a>
      </div> -->
      <!-- <div class="board-link">
        <a [routerLink]="'/board'">FAQ</a>
      </div> -->
      <!-- <div class="board-link">
        <a [routerLink]="'/board/5f5ef523713d42001159a011'">출결관리 안내</a>
      </div> -->
      <!-- <br class="d-block d-sm-none">
      <div class="board-link">
        <a [routerLink]="'/board/5f5ef50a713d42001159a010'">온라인 평점</a>
      </div> -->
      <!-- <div class="board-link">
        <a [routerLink]="'/board/5f5ef4efc8a06a0011726bbf'">이용약관</a>
      </div> -->
    </div>
  </div>
  <div class="footer-body">
    <div class="row">
      <div class="col col-md-4 col-12 footer-logo"></div>
      <div class="col col-md-4 col-12 footer-description">
        ATW 2020 Secretariat<br>
        InSession International Convention Services, Inc.<br>
        4Fl., 10, Yeoksam-ro 7-gil, Gangnam-gu, Seoul 06244, Korea<br>
        Tel: +82-2-3452-7312<br>
        Email: atweek@insession.co.kr
      </div>
      <div class="col col-md-4 col-12 footer-support-logo-wrapper">
        <div class="footer-support-text">Supporting Organizations</div>
        <div class="footer-support-logo" (click)="open()">
        </div>
      </div>
    </div>
  </div>
</footer>
