<header class="fixed-top">
  <div class="content-inner">
    <nav class="navbar navbar-expand-lg navbar-light p-0">

      <a class="navbar-brand p-0" [routerLink]="'/main'"></a>
      <div>
        <!-- <button *ngIf="user && user.isLog" class="py-0 btn btn-atndn mr-2 d-lg-none" [routerLink]="'/my-page'">나의
          시청시간</button> -->
        <button (click)="collapse = !collapse" class="navbar-toggler p-0" type="button" data-toggle="collapse"
          data-target="#navbarMenus" aria-controls="navbarMenus" aria-expanded="false"
          aria-label="Toggle menu navigation">
          <i [ngClass]="{'navbar-toggler-icon': collapse, 'icon-close': !collapse }" aria-hidden="true"></i>
        </button>
      </div>

      <div class="collapse navbar-collapse p-0" id="navbarMenus">
        <ul class="navbar-nav">
          <li class="nav-item" *ngFor="let menu of menus;" [id]="menu.title">
            <a class="nav-link" [routerLink]="menu.router" [routerLinkActive]="'active'" [queryParams]="menu.queryParams">
              {{menu.title}} <span class="sr-only">(current)</span>
            </a>
          </li>

          <li class="nav-item abstract">
            <a class="nav-link"
              href="https://cfair-files.s3.ap-northeast-2.amazonaws.com/events/5fa8e12ec8a27b001241f305/ATW+2020+Program+Book.pdf"
              target="_blank">
              Program Book<span class="sr-only">(current)</span>
            </a>
          </li>

          <li class="nav-item abstract">
            <a class="nav-link"
              href="https://cfair-files.s3.ap-northeast-2.amazonaws.com/events/5fa8e12ec8a27b001241f305/ATW+2020_Lecture+Notes.pdf"
              target="_blank">
              Lecture Notes<span class="sr-only">(current)</span>
            </a>
          </li>

          <li class="nav-item abstract">
            <a class="nav-link" href="http://www.ekjt.org/journal/list.html?pn=vol&TG=vol&sm=sp&s_v=34&s_n=1&year=2020"
              target="_blank">
              Abstracts<span class="sr-only">(current)</span>
            </a>
          </li>

          <li class="nav-item d-lg-none" *ngIf="!user">
            <a class="nav-link" [routerLink]="'/login'" [routerLinkActive]="'active'">LOGIN</a>
          </li>
          <li class="nav-item d-lg-none" *ngIf="user">
            <a class="nav-link" [routerLink]="'/my-page'" [routerLinkActive]="'active'">My Page</a>
          </li>
          <li class="nav-item d-lg-none" *ngIf="user">
            <a class="nav-link btn-logout" (click)="logout()">LOGOUT</a>
          </li>
        </ul>
      </div>

      <div *ngIf="!user" class="my-2 my-lg-0 d-none d-lg-block">
        <a class="btn-login" [routerLink]="'/login'" [routerLinkActive]="'active'">LOGIN</a>
      </div>

      <div *ngIf="user" class="my-menus my-2 my-lg-0 d-none d-lg-flex">
        <!-- <button *ngIf="user?.isLog" class="py-0 btn btn-atndn" [routerLink]="'/my-page'">나의 시청시간</button> -->
        <a class="py-0 btn btn-my-page" [routerLink]="'/my-page'">
          <img src="assets/img/account-circle.svg" alt="my page icon" role="img"> My Page
        </a>
      </div>
    </nav>
  </div>
</header>
