<div class="timetable-wrapper">

  <div class="timetable-nav">
    <div class="timetable-title">
      <p>Day</p>
    </div>
    <div class="timetable-list">
      <div class="content-inner">
        <div class="nav-item"><a [ngClass]="{'active':date===1}" (click)="setDate(1)">2020 . 12 . 3(Thu)</a></div>
        <div class="nav-item"><a [ngClass]="{'active':date===2}" (click)="setDate(2)">2020 . 12 . 4(Fri)</a></div>
        <div class="nav-item"><a [ngClass]="{'active':date===3}" (click)="setDate(3)">2020 . 12 . 5(Sat)</a></div>
      </div>
    </div>
  </div>
  <div class="timetable">
    <!-- <p class="timetable-label">(K): Korean , (E): English </p> -->
    <!-- 12월 3일 -->
    <table class="program" #table1 *ngIf="date === 1">
      <colgroup>
        <col style="width:15%">
        <col style="width:3%">
        <col style="width:28%">
        <col style="width:28%">
        <col style="width:28%">
      </colgroup>
      <thead>
        <tr>
          <th colspan="2"><span>Time</span></th>
          <th #th1>Room 1<div class="channel-btn" [ngStyle]="channelBtnStyle1" (click)="goLive(0, 0)"></div>
          </th>
          <th>Room 2<div class="channel-btn" [ngStyle]="channelBtnStyle1" (click)="goLive(0, 1)"></div>
          </th>
          <th>Room 3<div class="channel-btn" [ngStyle]="channelBtnStyle1" (click)="goLive(0, 2)"></div>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>08:30-10:00</td>
          <td>(90')</td>
          <td>PG Course 1 (Kidney)</td>
          <td></td>
          <td></td>
        </tr>

        <tr>
          <td>10:00-10:10</td>
          <td>(10')</td>
          <td class="break">Break</td>
          <td></td>
          <td></td>
        </tr>

        <tr>
          <td>10:10-11:40</td>
          <td>(90')</td>
          <td>PG Course 2 (Basic)</td>
          <td></td>
          <td></td>
        </tr>

        <tr>
          <td>11:40-11:45</td>
          <td>(5')</td>
          <td class="break">Break</td>
          <td></td>
          <td></td>
        </tr>

        <tr>
          <td>11:45-12:45</td>
          <td>(60')</td>
          <td>Industry Symposium</td>
          <td>Industry Symposium</td>
          <td></td>
        </tr>

        <tr>
          <td>12:45-12:50</td>
          <td>(5')</td>
          <td colspan="2" class="break">Break</td>
          <td></td>
        </tr>

        <tr>
          <td>12:50-13:50</td>
          <td>(60')</td>
          <td>PG Course 3 (교육위원회)</td>
          <td>KST Sponsored Research Project</td>
          <td></td>
        </tr>

        <tr>
          <td>13:50-14:00</td>
          <td>(10')</td>
          <td colspan="2" class="break">Break</td>
          <td></td>
        </tr>

        <tr>
          <td>14:00-15:30</td>
          <td>(90')</td>
          <td>PG Course 4 (Liver)</td>
          <td>Reviewer 인증 교육 1<br>(presented in Korean)</td>
          <td></td>
        </tr>

        <tr>
          <td>15:30-15:40</td>
          <td>(10')</td>
          <td colspan="2" class="break">Break</td>
          <td></td>
        </tr>

        <tr>
          <td>15:40-17:10</td>
          <td>(90')</td>
          <td>PG Course 5 (Kidney)</td>
          <td>Reviewer 인증 교육 2<br>(presented in Korean)</td>
          <td></td>
        </tr>

        <tr>
          <td>17:10-17:20</td>
          <td>(10')</td>
          <td colspan="2" class="break">Break</td>
          <td></td>
        </tr>

        <tr>
          <td>17:20-18:20</td>
          <td>(60')</td>
          <td>Opening Symposium</td>
          <td></td>
          <td></td>
        </tr>

        <tr>
          <td>18:20-18:30</td>
          <td>(10')</td>
          <td class="break">Break</td>
          <td></td>
          <td></td>
        </tr>

        <tr>
          <td>18:30-19:30</td>
          <td>(60')</td>
          <td>KST Board Meeting<br>
            (KST Board member only/<br>separate online meeting)
          </td>
          <td></td>
          <td></td>
        </tr>

      </tbody>
    </table>

    <!-- 12월 4일 -->
    <table class="program" #table2 *ngIf="date === 2">
      <colgroup>
        <col style="width:15%">
        <col style="width:3%">
        <col style="width:28%">
        <col style="width:28%">
        <col style="width:28%">
      </colgroup>
      <thead>
        <tr>
          <th colspan="2"><span>Time</span></th>
          <th #th2>Room 1<div class="channel-btn" [ngStyle]="channelBtnStyle1" (click)="goLive(1, 0)"></div>
          </th>
          <th>Room 2<div class="channel-btn" [ngStyle]="channelBtnStyle1" (click)="goLive(1, 1)"></div>
          </th>
          <th>Room 3<div class="channel-btn" [ngStyle]="channelBtnStyle1" (click)="goLive(1, 2)"></div>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>09:00-09:50</td>
          <td>(50')</td>
          <td>Plenary Session 1</td>
          <td></td>
          <td></td>
        </tr>

        <tr>
          <td>09:50-09:50</td>
          <td>(5')</td>
          <td class="break">Break</td>
          <td></td>
          <td></td>
        </tr>

        <tr>
          <td>09:55-10:55</td>
          <td>(60')</td>
          <td>COVID-19 Session</td>
          <td></td>
          <td></td>
        </tr>

        <tr>
          <td>10:55-11:00</td>
          <td>(5')</td>
          <td class="break">Break</td>
          <td></td>
          <td></td>
        </tr>

        <tr>
          <td>11:00-12:00</td>
          <td>(60')</td>
          <td>Special Session</td>
          <td></td>
          <td></td>
        </tr>

        <tr>
          <td>12:00-12:05</td>
          <td>(5')</td>
          <td class="break">Break</td>
          <td></td>
          <td></td>
        </tr>

        <tr>
          <td>12:05-13:05</td>
          <td>(60')</td>
          <td>Industry Symposium</td>
          <td></td>
          <td></td>
        </tr>

        <tr>
          <td>13:05-13:10</td>
          <td>(5')</td>
          <td class="break">Break</td>
          <td></td>
          <td></td>
        </tr>

        <tr>
          <td>13:10-14:40</td>
          <td>(90')</td>
          <td>Concurrent Symposium 1 (Kidney)</td>
          <td>Concurrent Symposium 2 (Liver)</td>
          <td>Concurrent Symposium 3 (Lung)</td>
        </tr>

        <tr>
          <td>14:40-14:50</td>
          <td>(10')</td>
          <td colspan="3" class="break">Break</td>
        </tr>

        <tr>
          <td>14:50-15:50</td>
          <td>(60')</td>
          <td>Oral Presentation 1 (Kidney1)</td>
          <td>Oral Presentation 2 (Liver1)</td>
          <td>Oral Presentation 3 (Thoracic)</td>
        </tr>

        <tr>
          <td>15:50-16:00</td>
          <td>(10')</td>
          <td colspan="3" class="break">Break</td>
        </tr>

        <tr>
          <td>16:00-17:30</td>
          <td>(90')</td>
          <td>Concurrent Symposium 4 (Kidney)</td>
          <td>Concurrent Symposium 5 (Liver)</td>
          <td>Concurrent Symposium 6 (Heart)</td>
        </tr>

        <tr>
          <td>17:30-17:40</td>
          <td>(10')</td>
          <td colspan="3" class="break">Break</td>
        </tr>

        <tr>
          <td>17:40-18:30</td>
          <td>(50')</td>
          <td>KST General Assembly</td>
          <td></td>
          <td></td>
        </tr>

      </tbody>
    </table>
    <!-- 12월 5일 -->
    <table class="program" #table3 *ngIf="date === 3">
      <colgroup>
        <col style="width:15%">
        <col style="width:3%">
        <col style="width:28%">
        <col style="width:28%">
        <col style="width:28%">
      </colgroup>
      <thead>
        <tr>
          <th colspan="2"><span>Time</span></th>
          <th #th3>Room 1<div class="channel-btn" [ngStyle]="channelBtnStyle1" (click)="goLive(2, 0)"></div>
          </th>
          <th>Room 2<div class="channel-btn" [ngStyle]="channelBtnStyle1" (click)="goLive(2, 1)"></div>
          </th>
          <th>Room 3<div class="channel-btn" [ngStyle]="channelBtnStyle1" (click)="goLive(2, 2)"></div>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>09:00-10:30</td>
          <td>(90')</td>
          <td>Concurrent Symposium 7 (Kidney)</td>
          <td>KOTRY Joint Session</td>
          <td>Concurrent Symposium 8 (Basic)</td>
        </tr>

        <tr>
          <td>10:30-10:40</td>
          <td>(10')</td>
          <td colspan="3" class="break">Break</td>
        </tr>

        <tr>
          <td>10:40-12:10</td>
          <td>(90')</td>
          <td>Concurrent Symposium 9 (Pancreas/Islet)</td>
          <td>Concurrent Symposium 10 (Liver)</td>
          <td>Concurrent Symposium 11 (Pediatric)</td>
        </tr>

        <tr>
          <td>12:10-12:15</td>
          <td>(5')</td>
          <td colspan="3" class="break">Break</td>
        </tr>

        <tr>
          <td>12:15-13:15</td>
          <td>(60')</td>
          <td>Industry Symposium</td>
          <td>Industry Symposium</td>
          <td>Industry Symposium </td>
        </tr>

        <tr>
          <td>13:15-13:20</td>
          <td>(5')</td>
          <td colspan="3" class="break">Break</td>
        </tr>

        <tr>
          <td>13:20-14:20</td>
          <td>(60')</td>
          <td>Oral Presentation 4 (Kidney2)</td>
          <td>Oral Presentation 5 (Liver2)</td>
          <td rowspan="4" class="other">
            <table cellspacing="0" border="0">
              <tr rowspan="2">
                <td>
                  Concurrent Symposium 12 (Coordinator)<br>
                  (presented in Korean)
                </td>
              </tr>
              <tr>
                <td class="break">Break</td>
              </tr>
            </table>
          </td>
        </tr>

        <tr>
          <td>14:20-14:30</td>
          <td>(10')</td>
          <td colspan="2" class="break">Break</td>
        </tr>

        <tr>
          <td>14:30-15:30</td>
          <td>(60')</td>
          <td>Oral Presentation 6 (Basic)</td>
          <td>Oral Presentation 7 (Donation/Pancreas/Islet/Others)</td>
        </tr>

        <tr>
          <td>15:30-15:40</td>
          <td>(10')</td>
          <td colspan="2" class="break">Break</td>
        </tr>

        <tr>
          <td>15:40-16:40</td>
          <td>(60')</td>
          <td>Plenary Session 2 (Best papers)</td>
          <td></td>
          <td></td>
        </tr>

        <tr>
          <td>16:40-16:50</td>
          <td>(10')</td>
          <td class="break">Break</td>
          <td></td>
          <td></td>
        </tr>

        <tr>
          <td>16:50-17:00</td>
          <td>(10')</td>
          <td>Closing</td>
          <td></td>
          <td></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
