.player-wrapper {
  .player {
    display: flex;
    flex-direction: row;
    width: 100%;
    min-height: 460px;
  }
}

@media (max-width: 768px) {
  .player-wrapper {
    .player {
      flex-direction: column;
    }
  }
}
