<div class="content-body">
  <div class="banner-wrapper">
    <div class="m-banner-image" [style.backgroundImage]="'url(assets/img/banner.png)'"></div>
    <img [src]="'assets/img/banner.png'" role="img" alt="banner image">
  </div>
  <div class="content-wrapper">
    <div class="content-inner">
      <div class="login-title">
        <div>
          Welcome to ATW 2020
        </div>
        <div>
          Virtual Congress!
        </div>
      </div>
      <div class="login-form">
        <div class="input-wrapper">
          <label for="email">E-mail</label>
          <input name="email" type="text" id="email" [(ngModel)]="member.email" (keyup.enter)="login()" />
        </div>
        <div class="input-wrapper">
          <label for="password">Password</label>
          <input name="password" type="password" id="password" [(ngModel)]="member.password" (keyup.enter)="login()" />
        </div>
        <div class="login-bottom">
          <div class="password-error">
            <span>{{passwordError}}</span>
          </div>
        </div>
        <div class="submit-button">
          <button (click)="login()">LOGIN</button>
        </div>
      </div>
      <!-- <div class="regist-button">
        <button [routerLink]="'../registration'">Registration</button>
      </div> -->
      <div class="login-footer">
        <div class="sponsor-title">
          <span>Diamond Plus Sponsor</span>
        </div>
        <div class="sponsor-logo">
          <span>This platform is sponsored by</span>
          <img src="../../../assets/img/astellas.png">
        </div>
        <!-- For any inquiries, please contact the ATW 2020 Secretariat.<br>
        <b>Tel: +82-2-3452-7312 Email: atweek@insession.co.kr</b> -->
      </div>
    </div>
  </div>
</div>

<button #policyAlertBtn class="policy-alert-btn" data-toggle="modal" data-target="#policyAlert">
  Policy modal open
</button>

<!-- Entry modal -->
<div class="modal policy-alert fade" id="policyAlert" data-backdrop="static" role="dialog" aria-labelledby="policyAlert"
  tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered justify-content-center" role="document">
    <div class="modal-content not-drag">
      <div class="modal-body p-0">
        <div class="modal-title">
          <img src="../../../assets/img/icon-warning.png">Notice
        </div>
        <div class="modal-description">
          <p class="mb-2">
            <b>1. The platform has been optimized for viewing on personal computers, mobile and tablet pcs.</b><br>
            - It is recommended that you use the latest version of Chrome/Microsoft Edge.<br>
            - Since access from hospital PCs may be limited due to the high fire wall, it is recommended that you access
            through a mobile device or your personal PC.
            <br><br>
            <b>2. Re-recording or downloading of lecture videos without permission is illegal. For legal reasons such as
              copyright and portrait rights, copying and sharing of online lecture videos is prohibited, and the ATW
              2020 Organizing Committee may take legal action in the case such actions are discovered.</b>
            <br><br>

            <b>[For Koreans Only]</b><br>
            - 강의실 입장 시 입장/퇴장 시 퇴장 버튼을 팝업창 안내에 따라 반드시 클릭해 주십시오.<br>
            - 한 강의실에서 연속적으로 수강하시는 경우, 각 세션 시작/ 종료 시,<br>&nbsp;&nbsp;&nbsp;우측 상단의 Session In/ Out 버튼을 클릭하여 체류기록을 반드시 남겨 주십시오.<br>
            - 수강 기록은 My Page 에서 확인이 가능합니다.
          </p>
        </div>
        <button type="button" class="btn btn-block confirm-btn" data-toggle="modal" data-target="#policyAlert"
          (click)="goToMain()">
          I Agree
        </button>
      </div>
    </div>
  </div>
</div>
