<div class="content-body">
  <div class="content-wrapper board-list-wrapper">
    <div class="content-inner">
      <div class="title-wrapper">
        <h2>Notice</h2>
      </div>

      <form class="search-wrapper" [formGroup]="search" (submit)="submit()">
        <select class="form-control form-control-lg select-box ellipsis not-drag" formControlName="type">
          <option value="">All</option>
          <option value="notice">Notice</option>
          <option value="faq">FAQ</option>
        </select>
        <input type="text" class="form-control search-input" placeholder="Search your question on Help Desk" formControlName="keyword">
        <button class="btn search-btn" type="submit">Search</button>
      </form>

      <div class="board-list not-drag">

        <div class="board-header">
          <div class="row">
            <div class="col col-lg-2 col-3 text-center">Index</div>
            <div class="col col-lg-7">Title</div>
            <div class="col col-lg-1 col-2 text-center">Writer</div>
            <div class="col col-lg-2 col-3 text-center">Date</div>
          </div>
        </div>

        <div class="board-item">
          <div class="row" *ngFor="let board of boards; let i = index" [routerLink]="'/board/'+board.id"
            [ngClass]="{'fix': board.isFixed}">
            <div class="col col-lg-2 col-3 text-center" [ngSwitch]="board.type">
              <span *ngSwitchCase="'post'">{{ board.index }}</span>
              <span *ngSwitchCase="'notice'">Notice</span>
              <span *ngSwitchCase="'faq'">FAQ</span>
            </div>
            <div class="col col-lg-7 ellipsis">{{board.title}}</div>
            <div class="col col-lg-1 col-2 text-center writer">{{board.writer}}</div>
            <div class="col col-lg-2 col-3 text-center">{{board.updatedAt | date: 'yyyy-MM-dd'}}</div>
          </div>
        </div>

        <div class="board-footer">
          <div class="pagination">
            <ul>
              <li class="prev" (click)="setPage(curPage-1)">&#60;</li>
              <li *ngFor="let page of pages;" [ngClass]="{'active' : curPage === page}" (click)="setPage(page)">
                {{page}}
              </li>
              <li class="next" (click)="setPage(curPage+1)">&#62;</li>
            </ul>
          </div>
          <div class="board-btn" [routerLink]="'/board-regist'">Write</div>
        </div>
      </div>
    </div>
  </div>
</div>
